body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-header ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
  padding: 0;
}

.App-header ul li {
  margin-right: 15px;
}
.App-header ul li a {
  border: 1px solid #009688;
  padding: 8px 30px;
  color: #fff;
  text-decoration: none;
}
.App-header ul li a:hover {
  background: #009688;
}
.content {
  box-shadow: 0px 0px 4px #0000002b;
  padding: 30px;
  margin: 30px;
  border-radius: 4px;
}
.paragraph {
  line-height: 45px;
  font-size: 18px;
  text-align: left;
}
.p15 {
  padding: 15px;
}
